[submodule "React-Native-Homework-1"]
	path = React-Native-Homework-1
	url = https://github.com/ITStep-Homework/React-Native-Homework-1
[submodule "React-Native-Homework-2"]
	path = React-Native-Homework-2
	url = https://github.com/ITStep-Homework/React-Native-Homework-2
[submodule "React-Native-Homework-3"]
	path = React-Native-Homework-3
	url = https://github.com/ITStep-Homework/React-Native-Homework-3
